main {
  padding: 1rem;
  background-color: #fff3c8;
}

h1 {
  font-family: Reenie Beanie;
  font-size: 64px;
  font-weight: 500;
  line-height: 64px;
  text-decoration: underline;
}

.img-fluid {
  border-radius: 20px;
  margin-bottom: 10px;
  aspect-ratio: 1/1;
}

.v-space {
  margin-bottom: 1em
}

.item-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 5px #424242;
  border-radius: 20px;
  padding: 1em;
  background-color: #e6e6e6;
  max-height: 100vh;
  overflow-y: auto;
}

.btn-contain {
  flex: 1 1 auto;
}